body {
 align-content: center;
 padding-bottom: 50px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #36454f;
}

.fixed-nav-bar,
section {
  width: 960px;
  margin: 0 auto;
}

.fixed-nav-bar {
  padding: 10px 0;
}

.nav-ul {
  color: #fff;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  padding-left: 20px;
  box-sizing: border-box;
}

nav li:first-child {
  padding-left: 0;
  width: 200px;
}

section {
  margin-top:110px;
}

.row {
  clear: both;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row article {
  width: 50%;
  float: left;
  padding-left: 20px;
  box-sizing: border-box;
}

article:first-child {
  padding-left: 0;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  padding: 5px 0 20px;
}

p{
  line-height: 1.3em;
  font-size: 1.5em;
  overflow-y: scroll;
  height: 265px;
}

article a {
  background-color: #ccc;
  border: solid 1px #666;
  border-radius: 10px;
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #666;
}



footer {

  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#36454f;
  margin-top: 30px;
}
.box right;